[project]
	description = New development on tirpc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Swen Schillig (sswen)
[access "refs/for/refs/*"]
	read = group user/Swen Schillig (sswen)
	push = group user/Swen Schillig (sswen)
	label-Code-Review = -2..+2 group user/Swen Schillig (sswen)
	label-Verified = -1..+1 group user/Swen Schillig (sswen)
	rebase = group user/Swen Schillig (sswen)
	removeReviewer = group user/Swen Schillig (sswen)
	submit = group user/Swen Schillig (sswen)
[access "refs/heads/*"]
	read = group user/Swen Schillig (sswen)
	create = group user/Swen Schillig (sswen)
	push = +force group user/Swen Schillig (sswen)
	pushMerge = group user/Swen Schillig (sswen)
[access "refs/tags/*"]
	push = group user/Swen Schillig (sswen)
	push = +force group user/Swen Schillig (sswen)
